/* CSS declarations go here */
#map {
  height: 500px;
  width: 100%;
}

blockquote {
  img {
    padding-right: 5px;
  }
}

#foursquare {
  padding-top: 20px;

  #venues .venue {
    margin-bottom: 0px;

    .media {
      .media-body {
        padding-bottom: 5px;
      }

      .pull-left {
        padding-top: 10px;
      }
    }
  }
}

#instagram {
  padding-top: 20px;

  .photo .thumbnail img {
    height: 150px;
    width: 150px;
  }
}

.container {
  padding-bottom: 20px;
}

#twitter {
  margin-top: -20px;
}