/* CSS declarations go here */
#map {
  height: 500px;
  width: 100%;
}

blockquote img {
  padding-right: 5px;
}

#foursquare {
  padding-top: 20px;

  #venues .venue {
    margin-bottom: 5px;

    .media-body {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}